/* TODO: not sure if keep this config file or use the 'theme.ts' file */
/* Make sure this values matches the 'theme.ts' ones */
:root {
  /* Palette Colors */
  --primary: #0165A4;
  --secondary: #5383FF;
  --secondary-light: #2571AB;
  --warning: #ffff00;
  --info: #F0F0F0;
  --success: #99ee44;
  --error: #E44C65;
  --background: #f9f9f9;
  --white: #fff;
  --text: #050505;
  /* Breakpoints */
  --xs: 0;
  --sm: 600;
  --md: 960;
  --lg: 1280;
  --xl: 1650;
  /* Spacing [ Used for margin and padding separations - intented to encapsule all component's content ] */
  --navbar-height: 74px;
  --footer-height: 50px;
  --sidebar-width: 220px;
  /* --spacing: 1rem;
  --spacing-short: 1rem; */
}

/* Global CSS Styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

